.first-part{
    background-color: #1f2937;
    color:white;
    display: flex;
    justify-content: space-around;
    height:50px;
}
.logo-links{
    display: flex;
    justify-content:space-around;
}
.second-part{
    background-color: #1f2937;
    color: white;
    display: flex;
    height: 200px;
    flex-direction: row-reverse;
    justify-content: space-around;
    
}
.website{
    display: flex;
    flex-direction: column;
}
.image{
   width:300px;
   height: 150px;
   background-color: rgb(146, 157, 153);
   border: 2px;
}
.website-name{
    font-weight:bold;
    font-size: 48px;
    width: 300px;
}
button{
    background-color: #3882f6;
    color: white;
}
.third-part{
    text-align: center;
    color: #000;
    font-size: 36px;

}
.box{
    height: 150px;
    width: 150px;
    border: 2px solid rgb(0, 119, 255);
}
.box1{
display: flex;
flex-direction: column;
}
.third-part-a{
    display: flex;
    justify-content: space-evenly;
}
.box1{
    display: flex;
    flex-direction: column;
    flex-direction: column-reverse;
    
}
.caption{
    width: 150px;
}
.fourth-part{
    background-color: #5c5f63;
    height: 200px;
}
.fourth-part{
    display: flex;
    flex-direction: column;
   justify-content:space-around;

}
.body{
    width: 300px;
    height: 80px;
    text-align: center;
}
.fith-part{
    background-color: #033078;
    display: flex;
    flex-direction: column;
    color:white;
    height: 80px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 150px;
   margin-right: 150px;
   padding-top: 20px;
}
.sign-up{
    display: flex;
    justify-content:space-around;   
}
.call{
    margin-left: 128px;
}
.six{
    background-color: #1f2937;
    color: white;
    text-align: center;
}